{
  "info": {
    "contact": {
      "email": "support@benakun.com",
      "name": "API Support"
    },
    "description": "API Spec for Benakun",
    "license": {
      "name": "MIT License",
      "url": "https://en.wikipedia.org/wiki/MIT_License"
    },
    "termsOfService": "https://benakun.com/term-of-service",
    "title": "Benakun",
    "version": "1.0.0"
  },
  "openapi": "3.0.3",
  "servers": [
    {
      "description": "Benakun Server",
      "url": "https://benakun.com"
    }
  ],
	"paths": {
		"/data/entry/dashboard": {
			"post":{}
		},
		"/guest/auto/login": {
			"post":{}
		},
		"/guest/debug": {
			"post":{}
		},
		"/guest/external/auth": {
			"post":{}
		},
		"/guest/forgot/password": {
			"post":{}
		},
		"/guest/login": {
			"post":{}
		},
		"/guest/oauth/callback": {
			"post":{}
		},
		"/guest/register": {
			"post":{}
		},
		"/guest/resend/verification/email": {
			"post":{}
		},
		"/guest/reset/password": {
			"post":{}
		},
		"/guest/verify/email": {
			"post":{}
		},
		"/report/viewer/dashboard": {
			"post":{}
		},
		"/super/admin/dashboard": {
			"post":{}
		},
		"/super/admin/tenant/management": {
			"post":{}
		},
		"/super/admin/user/management": {
			"post":{}
		},
		"/tenant/admin/budgeting": {
			"post":{}
		},
		"/tenant/admin/dashboard": {
			"post":{}
		},
		"/tenant/admin/invite/join": {
			"post":{}
		},
		"/tenant/admin/organization": {
			"post":{}
		},
		"/tenant/admin/terminate/staff": {
			"post":{}
		},
		"/user/auto/login/link": {
			"post":{}
		},
		"/user/change/password": {
			"post":{}
		},
		"/user/create/company": {
			"post":{}
		},
		"/user/logout": {
			"post":{}
		},
		"/user/profile": {
			"post":{}
		},
		"/user/response/invitation": {
			"post":{}
		},
		"/user/session/kill": {
			"post":{}
		},
		"/user/sessions/active": {
			"post":{}
		},
		"/user/update/profile": {
			"post":{}
		}
	}
}
