{
  "info": {
    "contact": {
      "email": "support@benakun.com",
      "name": "API Support"
    },
    "description": "API Spec for Benakun",
    "license": {
      "name": "MIT License",
      "url": "https://en.wikipedia.org/wiki/MIT_License"
    },
    "termsOfService": "https://benakun.com/term-of-service",
    "title": "Benakun",
    "version": "1.0.0"
  },
  "openapi": "3.0.3",
  "servers": [
    {
      "description": "Benakun Server",
      "url": "https://benakun.com"
    }
  ],
	"paths": {
		"/dataEntry/dashboard": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "DataEntryDashboard",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/autoLogin": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"uid": {
								"type": "string"
						},
						"token": {
								"type": "string"
						},
						"path": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestAutoLogin",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"email": {
														"type": "string"
												},
												"password": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"passwordSetAt": {
														"type": "number"
												},
												"secretCode": {
														"type": "string"
												},
												"secretCodeAt": {
														"type": "number"
												},
												"verificationSentAt": {
														"type": "number"
												},
												"verifiedAt": {
														"type": "number"
												},
												"lastLoginAt": {
														"type": "number"
												},
												"fullName": {
														"type": "string"
												},
												"tenantCode": {
														"type": "string"
												},
												"role": {
														"type": "string"
												},
												"invitationState": {
														"type": "string"
												}
												}
										},
										"segments": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/debug": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestDebug",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"request": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/externalAuth": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"provider": {
								"type": "string"
						},
						"redirect": {
							"type": "boolean"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestExternalAuth",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"link": {
												"type": "string"
										},
										"clientID": {
												"type": "string"
										},
										"redirectUrl": {
												"type": "string"
										},
										"scopes": {
												"type": "array",
													"items": {
														"type": "string"
													}
												},
										"csrfState": {
												"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/forgotPassword": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"email": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestForgotPassword",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"resetPassUrl": {
												"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/login": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"email": {
								"type": "string"
						},
						"password": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestLogin",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"email": {
														"type": "string"
												},
												"password": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"passwordSetAt": {
														"type": "number"
												},
												"secretCode": {
														"type": "string"
												},
												"secretCodeAt": {
														"type": "number"
												},
												"verificationSentAt": {
														"type": "number"
												},
												"verifiedAt": {
														"type": "number"
												},
												"lastLoginAt": {
														"type": "number"
												},
												"fullName": {
														"type": "string"
												},
												"tenantCode": {
														"type": "string"
												},
												"role": {
														"type": "string"
												},
												"invitationState": {
														"type": "string"
												}
												}
										},
										"segments": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/oauthCallback": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"state": {
								"type": "string"
						},
						"code": {
								"type": "string"
						},
						"accessToken": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestOauthCallback",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"oauthUser": {
										"type": "object",
										"properties": {
												}
										},
										"email": {
												"type": "string"
										},
										"currentUser": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"email": {
														"type": "string"
												},
												"password": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"passwordSetAt": {
														"type": "number"
												},
												"secretCode": {
														"type": "string"
												},
												"secretCodeAt": {
														"type": "number"
												},
												"verificationSentAt": {
														"type": "number"
												},
												"verifiedAt": {
														"type": "number"
												},
												"lastLoginAt": {
														"type": "number"
												},
												"fullName": {
														"type": "string"
												},
												"tenantCode": {
														"type": "string"
												},
												"role": {
														"type": "string"
												},
												"invitationState": {
														"type": "string"
												}
												}
										},
										"provider": {
												"type": "string"
										},
										"segments": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/register": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"email": {
								"type": "string"
						},
						"password": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestRegister",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"email": {
														"type": "string"
												},
												"password": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"passwordSetAt": {
														"type": "number"
												},
												"secretCode": {
														"type": "string"
												},
												"secretCodeAt": {
														"type": "number"
												},
												"verificationSentAt": {
														"type": "number"
												},
												"verifiedAt": {
														"type": "number"
												},
												"lastLoginAt": {
														"type": "number"
												},
												"fullName": {
														"type": "string"
												},
												"tenantCode": {
														"type": "string"
												},
												"role": {
														"type": "string"
												},
												"invitationState": {
														"type": "string"
												}
												}
										},
										"verifyEmailUrl": {
												"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/resendVerificationEmail": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"email": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestResendVerificationEmail",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"verifyEmailUrl": {
												"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/resetPassword": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"secretCode": {
								"type": "string"
						},
						"hash": {
								"type": "string"
						},
						"password": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestResetPassword",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/verifyEmail": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"secretCode": {
								"type": "string"
						},
						"hash": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "GuestVerifyEmail",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"email": {
												"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/reportViewer/dashboard": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "ReportViewerDashboard",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/superAdmin/dashboard": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "SuperAdminDashboard",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/superAdmin/tenantManagement": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"cmd": {
								"type": "string"
						},
						"tenant": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"tenantCode": {
										"type": "string"
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								}
								}
						},
						"withMeta": {
							"type": "boolean"
						},
						"pager": {
						"type": "object",
						"properties": {
								"page": {
										"type": "number"
								},
								"perPage": {
										"type": "number"
								},
								"filters": {
								"type": "object",
								"properties": {
										}
								},
								"order": {
										"type": "array",
											"items": {
												"type": "string"
											}
										}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "SuperAdminTenantManagement",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pager": {
										"type": "object",
										"properties": {
												"page": {
														"type": "number"
												},
												"perPage": {
														"type": "number"
												},
												"pages": {
														"type": "number"
												},
												"total": {
														"type": "number"
												},
												"filters": {
												"type": "object",
												"properties": {
														}
												},
												"order": {
														"type": "array",
															"items": {
																"type": "string"
															}
														}
												}
										},
										"meta": {
										"type": "object",
										"properties": {
												"fields": {
												"type": "object",
												"properties": {
														}
												},
												"mutex": {
												"type": "object",
												"properties": {
														}
												},
												"cachedSelect": {
														"type": "string"
												}
												}
										},
										"tenant": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"tenantCode": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												}
												}
										},
										"tenants": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/superAdmin/userManagement": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"cmd": {
								"type": "string"
						},
						"tenantAdmin": {
								"type": "string"
						},
						"user": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"email": {
										"type": "string"
								},
								"password": {
										"type": "string"
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								},
								"passwordSetAt": {
										"type": "number"
								},
								"secretCode": {
										"type": "string"
								},
								"secretCodeAt": {
										"type": "number"
								},
								"verificationSentAt": {
										"type": "number"
								},
								"verifiedAt": {
										"type": "number"
								},
								"lastLoginAt": {
										"type": "number"
								},
								"fullName": {
										"type": "string"
								},
								"tenantCode": {
										"type": "string"
								},
								"role": {
										"type": "string"
								},
								"invitationState": {
										"type": "string"
								}
								}
						},
						"withMeta": {
							"type": "boolean"
						},
						"pager": {
						"type": "object",
						"properties": {
								"page": {
										"type": "number"
								},
								"perPage": {
										"type": "number"
								},
								"filters": {
								"type": "object",
								"properties": {
										}
								},
								"order": {
										"type": "array",
											"items": {
												"type": "string"
											}
										}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "SuperAdminUserManagement",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pager": {
										"type": "object",
										"properties": {
												"page": {
														"type": "number"
												},
												"perPage": {
														"type": "number"
												},
												"pages": {
														"type": "number"
												},
												"total": {
														"type": "number"
												},
												"filters": {
												"type": "object",
												"properties": {
														}
												},
												"order": {
														"type": "array",
															"items": {
																"type": "string"
															}
														}
												}
										},
										"meta": {
										"type": "object",
										"properties": {
												"fields": {
												"type": "object",
												"properties": {
														}
												},
												"mutex": {
												"type": "object",
												"properties": {
														}
												},
												"cachedSelect": {
														"type": "string"
												}
												}
										},
										"user": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"email": {
														"type": "string"
												},
												"password": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"passwordSetAt": {
														"type": "number"
												},
												"secretCode": {
														"type": "string"
												},
												"secretCodeAt": {
														"type": "number"
												},
												"verificationSentAt": {
														"type": "number"
												},
												"verifiedAt": {
														"type": "number"
												},
												"lastLoginAt": {
														"type": "number"
												},
												"fullName": {
														"type": "string"
												},
												"tenantCode": {
														"type": "string"
												},
												"role": {
														"type": "string"
												},
												"invitationState": {
														"type": "string"
												}
												}
										},
										"users": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/bankAccounts": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"cmd": {
								"type": "string"
						},
						"account": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"tenantCode": {
										"type": "string"
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								},
								"deletedBy": {
										"type": "number"
								},
								"restoredBy": {
										"type": "number"
								},
								"name": {
										"type": "string"
								},
								"parentBankAccountId": {
										"type": "number"
								},
								"childBankAccountId": {
										"type": "number"
								},
								"accountNumber": {
										"type": "number"
								},
								"bankName": {
										"type": "string"
								},
								"accountName": {
										"type": "string"
								},
								"isProfitCenter": {
									"type": "boolean"
								},
								"isCostCenter": {
									"type": "boolean"
								},
								"staffId": {
										"type": "number"
								}
								}
						},
						"withMeta": {
							"type": "boolean"
						},
						"pager": {
						"type": "object",
						"properties": {
								"page": {
										"type": "number"
								},
								"perPage": {
										"type": "number"
								},
								"filters": {
								"type": "object",
								"properties": {
										}
								},
								"order": {
										"type": "array",
											"items": {
												"type": "string"
											}
										}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminBankAccounts",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pager": {
										"type": "object",
										"properties": {
												"page": {
														"type": "number"
												},
												"perPage": {
														"type": "number"
												},
												"pages": {
														"type": "number"
												},
												"total": {
														"type": "number"
												},
												"filters": {
												"type": "object",
												"properties": {
														}
												},
												"order": {
														"type": "array",
															"items": {
																"type": "string"
															}
														}
												}
										},
										"meta": {
										"type": "object",
										"properties": {
												"fields": {
												"type": "object",
												"properties": {
														}
												},
												"mutex": {
												"type": "object",
												"properties": {
														}
												},
												"cachedSelect": {
														"type": "string"
												}
												}
										},
										"staffs": {
										"type": "object",
										"properties": {
												}
										},
										"account": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"tenantCode": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"deletedBy": {
														"type": "number"
												},
												"restoredBy": {
														"type": "number"
												},
												"name": {
														"type": "string"
												},
												"parentBankAccountId": {
														"type": "number"
												},
												"childBankAccountId": {
														"type": "number"
												},
												"accountNumber": {
														"type": "number"
												},
												"bankName": {
														"type": "string"
												},
												"accountName": {
														"type": "string"
												},
												"isProfitCenter": {
													"type": "boolean"
												},
												"isCostCenter": {
													"type": "boolean"
												},
												"staffId": {
														"type": "number"
												}
												}
										},
										"accounts": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/budgeting": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminBudgeting",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"orgs": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/coa": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminCoa",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"coas": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/dashboard": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"cmd": {
								"type": "string"
						},
						"staffEmail": {
								"type": "string"
						},
						"tenantCode": {
								"type": "string"
						},
						"role": {
								"type": "string"
						},
						"withMeta": {
							"type": "boolean"
						},
						"pager": {
						"type": "object",
						"properties": {
								"page": {
										"type": "number"
								},
								"perPage": {
										"type": "number"
								},
								"filters": {
								"type": "object",
								"properties": {
										}
								},
								"order": {
										"type": "array",
											"items": {
												"type": "string"
											}
										}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminDashboard",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pager": {
										"type": "object",
										"properties": {
												"page": {
														"type": "number"
												},
												"perPage": {
														"type": "number"
												},
												"pages": {
														"type": "number"
												},
												"total": {
														"type": "number"
												},
												"filters": {
												"type": "object",
												"properties": {
														}
												},
												"order": {
														"type": "array",
															"items": {
																"type": "string"
															}
														}
												}
										},
										"meta": {
										"type": "object",
										"properties": {
												"fields": {
												"type": "object",
												"properties": {
														}
												},
												"mutex": {
												"type": "object",
												"properties": {
														}
												},
												"cachedSelect": {
														"type": "string"
												}
												}
										},
										"staffs": {
										"type": "object",
										"properties": {
												}
										},
										"staffsForm": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/deleteCoaChild": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"id": {
								"type": "number"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminDeleteCoaChild",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"coas": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/deleteOrganizationChild": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"id": {
								"type": "number"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminDeleteOrganizationChild",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"orgs": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/getBudgetPlans": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"orgId": {
								"type": "number"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminGetBudgetPlans",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"plans": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/locations": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"cmd": {
								"type": "string"
						},
						"withMeta": {
							"type": "boolean"
						},
						"pager": {
						"type": "object",
						"properties": {
								"page": {
										"type": "number"
								},
								"perPage": {
										"type": "number"
								},
								"filters": {
								"type": "object",
								"properties": {
										}
								},
								"order": {
										"type": "array",
											"items": {
												"type": "string"
											}
										}
								}
						},
						"location": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"tenantCode": {
										"type": "string"
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								},
								"deletedBy": {
										"type": "number"
								},
								"restoredBy": {
										"type": "number"
								},
								"name": {
										"type": "string"
								},
								"country": {
										"type": "string"
								},
								"stateProvice": {
										"type": "string"
								},
								"cityRegency": {
										"type": "string"
								},
								"subdistrict": {
										"type": "string"
								},
								"village": {
										"type": "string"
								},
								"rwBanjar": {
										"type": "string"
								},
								"rtNeigb": {
										"type": "string"
								},
								"address": {
										"type": "string"
								},
								"lat": {
										"type": "number"
								},
								"lng": {
										"type": "number"
								}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminLocations",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pager": {
										"type": "object",
										"properties": {
												"page": {
														"type": "number"
												},
												"perPage": {
														"type": "number"
												},
												"pages": {
														"type": "number"
												},
												"total": {
														"type": "number"
												},
												"filters": {
												"type": "object",
												"properties": {
														}
												},
												"order": {
														"type": "array",
															"items": {
																"type": "string"
															}
														}
												}
										},
										"meta": {
										"type": "object",
										"properties": {
												"fields": {
												"type": "object",
												"properties": {
														}
												},
												"mutex": {
												"type": "object",
												"properties": {
														}
												},
												"cachedSelect": {
														"type": "string"
												}
												}
										},
										"location": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"tenantCode": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"deletedBy": {
														"type": "number"
												},
												"restoredBy": {
														"type": "number"
												},
												"name": {
														"type": "string"
												},
												"country": {
														"type": "string"
												},
												"stateProvice": {
														"type": "string"
												},
												"cityRegency": {
														"type": "string"
												},
												"subdistrict": {
														"type": "string"
												},
												"village": {
														"type": "string"
												},
												"rwBanjar": {
														"type": "string"
												},
												"rtNeigb": {
														"type": "string"
												},
												"address": {
														"type": "string"
												},
												"lat": {
														"type": "number"
												},
												"lng": {
														"type": "number"
												}
												}
										},
										"locations": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/moveOrganizationChild": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"id": {
								"type": "number"
						},
						"moveToIdx": {
								"type": "number"
						},
						"toParentId": {
								"type": "number"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminMoveOrganizationChild",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"org": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"tenantCode": {
														"type": "string"
												},
												"name": {
														"type": "string"
												},
												"headTitle": {
														"type": "string"
												},
												"parentId": {
														"type": "number"
												},
												"children": {
												"type": "object",
												"properties": {
														}
												},
												"orgType": {
														"type": "number"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												}
												}
										},
										"orgs": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/organization": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminOrganization",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"orgs": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/products": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"cmd": {
								"type": "string"
						},
						"withMeta": {
							"type": "boolean"
						},
						"pager": {
						"type": "object",
						"properties": {
								"page": {
										"type": "number"
								},
								"perPage": {
										"type": "number"
								},
								"filters": {
								"type": "object",
								"properties": {
										}
								},
								"order": {
										"type": "array",
											"items": {
												"type": "string"
											}
										}
								}
						},
						"product": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"tenantCode": {
										"type": "string"
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								},
								"deletedBy": {
										"type": "number"
								},
								"restoredBy": {
										"type": "number"
								},
								"name": {
										"type": "string"
								},
								"detail": {
										"type": "string"
								},
								"rule": {
										"type": "string"
								},
								"kind": {
										"type": "string"
								},
								"cogsIDR": {
										"type": "number"
								}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminProducts",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pager": {
										"type": "object",
										"properties": {
												"page": {
														"type": "number"
												},
												"perPage": {
														"type": "number"
												},
												"pages": {
														"type": "number"
												},
												"total": {
														"type": "number"
												},
												"filters": {
												"type": "object",
												"properties": {
														}
												},
												"order": {
														"type": "array",
															"items": {
																"type": "string"
															}
														}
												}
										},
										"meta": {
										"type": "object",
										"properties": {
												"fields": {
												"type": "object",
												"properties": {
														}
												},
												"mutex": {
												"type": "object",
												"properties": {
														}
												},
												"cachedSelect": {
														"type": "string"
												}
												}
										},
										"product": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"tenantCode": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"deletedBy": {
														"type": "number"
												},
												"restoredBy": {
														"type": "number"
												},
												"name": {
														"type": "string"
												},
												"detail": {
														"type": "string"
												},
												"rule": {
														"type": "string"
												},
												"kind": {
														"type": "string"
												},
												"cogsIDR": {
														"type": "number"
												}
												}
										},
										"products": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/restoreCoaChild": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"id": {
								"type": "number"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminRestoreCoaChild",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"coas": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/restoreOrganizationChild": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"id": {
								"type": "number"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminRestoreOrganizationChild",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"orgs": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/transaction": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminTransaction",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenantAdmin/upsertBudgetPlan": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"plan": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"tenantCode": {
										"type": "string"
								},
								"planType": {
										"type": "string"
								},
								"parentId": {
										"type": "number"
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								},
								"deletedBy": {
										"type": "number"
								},
								"restoredBy": {
										"type": "number"
								},
								"title": {
										"type": "string"
								},
								"description": {
										"type": "string"
								},
								"orgId": {
										"type": "number"
								},
								"yearOf": {
										"type": "number"
								},
								"budgetIDR": {
										"type": "number"
								},
								"budgetUSD": {
										"type": "number"
								},
								"quantity": {
										"type": "number"
								},
								"unit": {
										"type": "string"
								}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminUpsertBudgetPlan",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"plans": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"coa": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"tenantCode": {
										"type": "string"
								},
								"name": {
										"type": "string"
								},
								"level": {
										"type": "number"
								},
								"parentId": {
										"type": "number"
								},
								"children": {
								"type": "object",
								"properties": {
										}
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminUpsertCoaChild",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"coas": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"org": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"tenantCode": {
										"type": "string"
								},
								"name": {
										"type": "string"
								},
								"headTitle": {
										"type": "string"
								},
								"parentId": {
										"type": "number"
								},
								"children": {
								"type": "object",
								"properties": {
										}
								},
								"orgType": {
										"type": "number"
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminUpsertOrganizationChild",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"org": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"tenantCode": {
														"type": "string"
												},
												"name": {
														"type": "string"
												},
												"headTitle": {
														"type": "string"
												},
												"parentId": {
														"type": "number"
												},
												"children": {
												"type": "object",
												"properties": {
														}
												},
												"orgType": {
														"type": "number"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												}
												}
										},
										"orgs": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/autoLoginLink": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"path": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserAutoLoginLink",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"link": {
												"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/changePassword": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"oldPass": {
								"type": "string"
						},
						"newPass": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserChangePassword",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/createCompany": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"company": {
						"type": "object",
						"properties": {
								"id": {
										"type": "number"
								},
								"tenantCode": {
										"type": "string"
								},
								"name": {
										"type": "string"
								},
								"headTitle": {
										"type": "string"
								},
								"parentId": {
										"type": "number"
								},
								"children": {
								"type": "object",
								"properties": {
										}
								},
								"orgType": {
										"type": "number"
								},
								"createdAt": {
										"type": "number"
								},
								"createdBy": {
										"type": "number"
								},
								"updatedAt": {
										"type": "number"
								},
								"updatedBy": {
										"type": "number"
								},
								"deletedAt": {
										"type": "number"
								}
								}
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserCreateCompany",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"company": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"tenantCode": {
														"type": "string"
												},
												"name": {
														"type": "string"
												},
												"headTitle": {
														"type": "string"
												},
												"parentId": {
														"type": "number"
												},
												"children": {
												"type": "object",
												"properties": {
														}
												},
												"orgType": {
														"type": "number"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												}
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/logout": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserLogout",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"logoutAt": {
												"type": "number"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/profile": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserProfile",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"email": {
														"type": "string"
												},
												"password": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"passwordSetAt": {
														"type": "number"
												},
												"secretCode": {
														"type": "string"
												},
												"secretCodeAt": {
														"type": "number"
												},
												"verificationSentAt": {
														"type": "number"
												},
												"verifiedAt": {
														"type": "number"
												},
												"lastLoginAt": {
														"type": "number"
												},
												"fullName": {
														"type": "string"
												},
												"tenantCode": {
														"type": "string"
												},
												"role": {
														"type": "string"
												},
												"invitationState": {
														"type": "string"
												}
												}
										},
										"segments": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/responseInvitation": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"tenantCode": {
								"type": "string"
						},
						"response": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserResponseInvitation",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
												"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/sessionKill": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"sessionTokenHash": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserSessionKill",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"logoutAt": {
												"type": "number"
										},
										"sessionTerminated": {
												"type": "number"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/sessionsActive": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserSessionsActive",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"sessionsActive": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/updateProfile": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
						"userName": {
								"type": "string"
						},
						"fullName": {
								"type": "string"
						},
						"email": {
								"type": "string"
						},
						"country": {
								"type": "string"
						},
						"language": {
								"type": "string"
						}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "UserUpdateProfile",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
										"type": "object",
										"properties": {
												"id": {
														"type": "number"
												},
												"email": {
														"type": "string"
												},
												"password": {
														"type": "string"
												},
												"createdAt": {
														"type": "number"
												},
												"createdBy": {
														"type": "number"
												},
												"updatedAt": {
														"type": "number"
												},
												"updatedBy": {
														"type": "number"
												},
												"deletedAt": {
														"type": "number"
												},
												"passwordSetAt": {
														"type": "number"
												},
												"secretCode": {
														"type": "string"
												},
												"secretCodeAt": {
														"type": "number"
												},
												"verificationSentAt": {
														"type": "number"
												},
												"verifiedAt": {
														"type": "number"
												},
												"lastLoginAt": {
														"type": "number"
												},
												"fullName": {
														"type": "string"
												},
												"tenantCode": {
														"type": "string"
												},
												"role": {
														"type": "string"
												},
												"invitationState": {
														"type": "string"
												}
												}
										},
										"segments": {
										"type": "object",
										"properties": {
												}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"CookieAuth": {
				"type": "apiKey",
				"in": "cookie",
				"name": "auth",
				"description": "Authentication for Benakun"
			}
		}
	}
}
