{
  "info": {
    "contact": {
      "email": "support@benakun.com",
      "name": "API Support"
    },
    "description": "API Spec for Benakun",
    "license": {
      "name": "MIT License",
      "url": "https://en.wikipedia.org/wiki/MIT_License"
    },
    "termsOfService": "https://benakun.com/term-of-service",
    "title": "Benakun",
    "version": "1.0.0"
  },
  "openapi": "3.0.3",
  "servers": [
    {
      "description": "Benakun Server",
      "url": "https://benakun.com"
    }
  ],
	"paths": {
		"/data/entry/dashboard": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "DataEntryDashboard",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/auto/login": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestAutoLogin",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"email": {
													"type": "string"
												},
												"password": {
													"type": "string"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												},
												"passwordSetAt": {
													"type": "number"
												},
												"secretCode": {
													"type": "string"
												},
												"secretCodeAt": {
													"type": "number"
												},
												"verificationSentAt": {
													"type": "number"
												},
												"verifiedAt": {
													"type": "number"
												},
												"lastLoginAt": {
													"type": "number"
												},
												"fullName": {
													"type": "string"
												},
												"tenantCode": {
													"type": "string"
												},
												"role": {
													"type": "string"
												},
												"invitationState": {
													"type": "string"
												}
											}
										},
										"segments": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/debug": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestDebug",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"request": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/external/auth": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestExternalAuth",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"link": {
											"type": "string"
										},
										"clientID": {
											"type": "string"
										},
										"redirectUrl": {
											"type": "string"
										},
										"scopes": {
											"type": "array",
												"items": {
													"type": "string"
												}
											},
										"csrfState": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/forgot/password": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestForgotPassword",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"resetPassUrl": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/login": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestLogin",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"email": {
													"type": "string"
												},
												"password": {
													"type": "string"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												},
												"passwordSetAt": {
													"type": "number"
												},
												"secretCode": {
													"type": "string"
												},
												"secretCodeAt": {
													"type": "number"
												},
												"verificationSentAt": {
													"type": "number"
												},
												"verifiedAt": {
													"type": "number"
												},
												"lastLoginAt": {
													"type": "number"
												},
												"fullName": {
													"type": "string"
												},
												"tenantCode": {
													"type": "string"
												},
												"role": {
													"type": "string"
												},
												"invitationState": {
													"type": "string"
												}
											}
										},
										"segments": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/oauth/callback": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestOauthCallback",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"oauthUser": {
											"type": "object",
											"properties": {
											}
										},
										"email": {
											"type": "string"
										},
										"currentUser": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"email": {
													"type": "string"
												},
												"password": {
													"type": "string"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												},
												"passwordSetAt": {
													"type": "number"
												},
												"secretCode": {
													"type": "string"
												},
												"secretCodeAt": {
													"type": "number"
												},
												"verificationSentAt": {
													"type": "number"
												},
												"verifiedAt": {
													"type": "number"
												},
												"lastLoginAt": {
													"type": "number"
												},
												"fullName": {
													"type": "string"
												},
												"tenantCode": {
													"type": "string"
												},
												"role": {
													"type": "string"
												},
												"invitationState": {
													"type": "string"
												}
											}
										},
										"provider": {
											"type": "string"
										},
										"segments": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/register": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestRegister",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"email": {
													"type": "string"
												},
												"password": {
													"type": "string"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												},
												"passwordSetAt": {
													"type": "number"
												},
												"secretCode": {
													"type": "string"
												},
												"secretCodeAt": {
													"type": "number"
												},
												"verificationSentAt": {
													"type": "number"
												},
												"verifiedAt": {
													"type": "number"
												},
												"lastLoginAt": {
													"type": "number"
												},
												"fullName": {
													"type": "string"
												},
												"tenantCode": {
													"type": "string"
												},
												"role": {
													"type": "string"
												},
												"invitationState": {
													"type": "string"
												}
											}
										},
										"verifyEmailUrl": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/resend/verification/email": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestResendVerificationEmail",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"verifyEmailUrl": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/reset/password": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestResetPassword",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/guest/verify/email": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "GuestVerifyEmail",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"email": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/report/viewer/dashboard": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "ReportViewerDashboard",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/super/admin/dashboard": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "SuperAdminDashboard",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/super/admin/tenant/management": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "SuperAdminTenantManagement",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pager": {
											"type": "object",
											"properties": {
												"page": {
													"type": "number"
												},
												"perPage": {
													"type": "number"
												},
												"pages": {
													"type": "number"
												},
												"total": {
													"type": "number"
												},
												"filters": {
											"type": "object",
											"properties": {
													}
												},
												"order": {
													"type": "array",
														"items": {
															"type": "string"
														}
													}
											}
										},
										"meta": {
											"type": "object",
											"properties": {
												"fields": {
											"type": "object",
											"properties": {
													}
												},
												"mutex": {
											"type": "object",
											"properties": {
													}
												},
												"cachedSelect": {
													"type": "string"
												}
											}
										},
										"tenant": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"tenantCode": {
													"type": "string"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												}
											}
										},
										"tenants": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/super/admin/user/management": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "SuperAdminUserManagement",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pager": {
											"type": "object",
											"properties": {
												"page": {
													"type": "number"
												},
												"perPage": {
													"type": "number"
												},
												"pages": {
													"type": "number"
												},
												"total": {
													"type": "number"
												},
												"filters": {
											"type": "object",
											"properties": {
													}
												},
												"order": {
													"type": "array",
														"items": {
															"type": "string"
														}
													}
											}
										},
										"meta": {
											"type": "object",
											"properties": {
												"fields": {
											"type": "object",
											"properties": {
													}
												},
												"mutex": {
											"type": "object",
											"properties": {
													}
												},
												"cachedSelect": {
													"type": "string"
												}
											}
										},
										"user": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"email": {
													"type": "string"
												},
												"password": {
													"type": "string"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												},
												"passwordSetAt": {
													"type": "number"
												},
												"secretCode": {
													"type": "string"
												},
												"secretCodeAt": {
													"type": "number"
												},
												"verificationSentAt": {
													"type": "number"
												},
												"verifiedAt": {
													"type": "number"
												},
												"lastLoginAt": {
													"type": "number"
												},
												"fullName": {
													"type": "string"
												},
												"tenantCode": {
													"type": "string"
												},
												"role": {
													"type": "string"
												},
												"invitationState": {
													"type": "string"
												}
											}
										},
										"users": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenant/admin/budgeting": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminBudgeting",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenant/admin/dashboard": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminDashboard",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"staffs": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenant/admin/invite/join": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminInviteJoin",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenant/admin/organization": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminOrganization",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
									}
								}
							}
						}
					}
				}
			}
		},
		"/tenant/admin/terminate/staff": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "TenantAdminTerminateStaff",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/auto/login/link": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserAutoLoginLink",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"link": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/change/password": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserChangePassword",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/create/company": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserCreateCompany",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean"
										},
										"company": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"tenantCode": {
													"type": "string"
												},
												"name": {
													"type": "string"
												},
												"headTitle": {
													"type": "string"
												},
												"parentId": {
													"type": "number"
												},
												"children": {
											"type": "object",
											"properties": {
													}
												},
												"orgType": {
													"type": "number"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/logout": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserLogout",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"logoutAt": {
											"type": "number"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/profile": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserProfile",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"email": {
													"type": "string"
												},
												"password": {
													"type": "string"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												},
												"passwordSetAt": {
													"type": "number"
												},
												"secretCode": {
													"type": "string"
												},
												"secretCodeAt": {
													"type": "number"
												},
												"verificationSentAt": {
													"type": "number"
												},
												"verifiedAt": {
													"type": "number"
												},
												"lastLoginAt": {
													"type": "number"
												},
												"fullName": {
													"type": "string"
												},
												"tenantCode": {
													"type": "string"
												},
												"role": {
													"type": "string"
												},
												"invitationState": {
													"type": "string"
												}
											}
										},
										"segments": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/response/invitation": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserResponseInvitation",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/session/kill": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserSessionKill",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"logoutAt": {
											"type": "number"
										},
										"sessionTerminated": {
											"type": "number"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/sessions/active": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserSessionsActive",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"sessionsActive": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/user/update/profile": {
			"post": {
				"security": [{
					"CookieAuth": []
				}],
				"tags": ["API"],
				"requestBody": {
					"content": {
					}
				},
				"responses": {
					"200": {
						"description": "UserUpdateProfile",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
											"type": "object",
											"properties": {
												"id": {
													"type": "number"
												},
												"email": {
													"type": "string"
												},
												"password": {
													"type": "string"
												},
												"createdAt": {
													"type": "number"
												},
												"createdBy": {
													"type": "number"
												},
												"updatedAt": {
													"type": "number"
												},
												"updatedBy": {
													"type": "number"
												},
												"deletedAt": {
													"type": "number"
												},
												"passwordSetAt": {
													"type": "number"
												},
												"secretCode": {
													"type": "string"
												},
												"secretCodeAt": {
													"type": "number"
												},
												"verificationSentAt": {
													"type": "number"
												},
												"verifiedAt": {
													"type": "number"
												},
												"lastLoginAt": {
													"type": "number"
												},
												"fullName": {
													"type": "string"
												},
												"tenantCode": {
													"type": "string"
												},
												"role": {
													"type": "string"
												},
												"invitationState": {
													"type": "string"
												}
											}
										},
										"segments": {
											"type": "object",
											"properties": {
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"securitySchemes": {
			"CookieAuth": {
				"type": "apiKey",
				"in": "cookie",
				"name": "auth",
				"description": "Authentication for Benakun"
			}
		}
	}
}
